@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");
/* font-family: "Jura", sans-serif;
font-optical-sizing: auto;
font-weight: <weight>; */

:root {
  --color1: #9fff54;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: light;
  cursor: none;
}
body {
  cursor: none;
}
.circle-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--color1);
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.introduce {
  position: absolute;
  width: 100vw;
  height: 60vh;
  top: 20%;
  text-align: center;
}
.introduce div:nth-child(1) {
  position: absolute;
  top: 20%; /* 화면의 중간 위치 */
  left: 44%; /* 화면의 중간 위치 */
  transform: translate(-50%, -50%); /* 중앙 정렬을 위한 변환 */
  display: flex; /* flexbox 사용 */
  flex-direction: column; /* 세로 방향 정렬 */
  justify-content: center; /* 수직 중앙 정렬 */
  align-items: center; /* 수평 중앙 정렬 */
  text-align: center;
}

.introduce div:nth-child(2) {
  width: 100vw;
  bottom: 0;
  position: absolute;
}
.introduce p {
  padding: 5px;
}
.introduce p:nth-child(1) {
  font-size: 1.2em;
  font-weight: 600;
}
