@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");
/* font-family: "Jura", sans-serif;
font-optical-sizing: auto;
font-weight: <weight>; */

:root {
  --color1: #9fff54;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: light;
  cursor: none;
}
body {
  cursor: none;
}
.circle-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--color1);
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.introduce {
  position: absolute;
  width: 100vw;
  height: 60vh;
  top: 20%;
  text-align: center;
}
.introduce div:nth-child(1) {
  position: absolute;
  width: 100vw;
  height: 50vh;
}
.introduce img {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 200px;
  height: auto;
}
.introduce div:nth-child(2) {
  width: 100vw;
  bottom: 0;
  position: absolute;
}
.introduce p {
  padding: 5px;
}
.introduce p:nth-child(1) {
  font-size: 1.2em;
  font-weight: 600;
}
