@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");
/* font-family: "Jura", sans-serif;
font-optical-sizing: auto;
font-weight: <weight>; */

:root {
  --color1: #9fff54;
}

.menubar {
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: light;
}

.menubar ul {
  list-style-type: none;
  padding: 10px 0;
  margin: 0;
}

.menubar li {
  display: inline;
  margin: 0 15px;
  position: relative;
}
.menubar li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color1);
  transform: translateX(-50%) scale(0);
  transition: transform 0.5s ease;
  z-index: -1;
}

.menubar li:hover::after {
  transform: translateX(-50%) scale(1);
}
.menubar a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
}

/* Mobile Styles */
@media (max-width: 400px) {
  .menubar {
    overflow: hidden;
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: light;
  }

  .menubar ul {
    list-style-type: none;
    padding: 10px 0;
    margin: 0;
  }

  .menubar li {
    display: inline;
    margin: 0 15px;
    position: relative;
  }
  .menubar li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--color1);
    transform: translateX(-50%) scale(0);
    transition: transform 0.5s ease;
    z-index: -1;
  }

  .menubar li:hover::after {
    transform: translateX(-50%) scale(1);
  }
  .menubar a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
  }

  .menubar a:hover {
    text-decoration: double;
  }
}
@media (min-width: 401px) and (max-width: 768px) {
  .menubar {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    text-align: center;
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: light;
  }
  
  .menubar ul {
    list-style-type: none;
    padding: 10px 0;
    margin: 0;
  }
  
  .menubar li {
    display: inline;
    margin: 0 15px;
    position: relative;
  }
  .menubar li::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--color1);
    transform: translateX(-50%) scale(0);
    transition: transform 0.5s ease;
    z-index: -1;
  }
  
  .menubar li:hover::after {
    transform: translateX(-50%) scale(1);
  }
  .menubar a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
  }
  
  .menubar a:hover {
    text-decoration: double;
  }
}