@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap");
/* font-family: "Jura", sans-serif;
font-optical-sizing: auto;
font-weight: <weight>;
font-style: normal; */

:root {
  --color1: #9fff54;
}
* {
  text-decoration: none;
  color: #000;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  text-decoration: none;
}

h1 {
  margin: 20px;
}
.reset {
  position: absolute;
  top: 30%;
  width: 100vw;
  text-align: center;
}
.reset button {
  width: 30px;
  height: 30px;
  border-radius: 100px;
  border: none;
  background-color: #000;
  cursor: pointer;
}
.contact_message {
  position: absolute;
  bottom: 50%;
  left: 0;
  width: 100%;
  text-align: center;
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: light;
  color: #000;
}

.contact_message ul {
  list-style-type: none;
  padding: 10px 0;
  margin: 0;
}

.contact_message li {
  display: inline;
  margin: 0 100px;
  position: relative;
}
.contact_message li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color1);
  transform: translateX(-50%) scale(0);
  transition: transform 0.5s ease;
  z-index: -1;
}

.contact_message li:hover::after {
  transform: translateX(-50%) scale(1);
}

